# Ignorar dependências
node_modules/
functions/node_modules/

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db
*.log
*.tmp
*.cache
*.lock
.env
firebase-debug.log
firebase-debug.*.log

# Ignorar arquivos do Windows
AppData/
*.lnk
*.bak
*.swp
