module.exports = {
  parser: "@typescript-eslint/parser",
  parserOptions: {
    ecmaVersion: 2020,
    sourceType: "module",
    project: "./tsconfig.json",
  },
  extends: [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "next/core-web-vitals"
  ],
  plugins: ["react", "@typescript-eslint"],
  rules: {
    "react/react-in-jsx-scope": "off", // Desativa erro de React não importado (Next.js já cuida disso)
    "@typescript-eslint/no-explicit-any": "warn", // Aviso para uso de "any"
    "@typescript-eslint/no-unused-vars": "warn", // Aviso para variáveis não usadas
  },
};
